*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  color: #696871;
}

p {
  font-size: 20px;
  line-height: 30px;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  color: #19191b;
}

h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #19191b;
}

h3 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  color: #19191b;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #19191b;
}

.learn-more {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #5454d4;
  text-decoration: none;
}

.btn {
  height: 60px;
  min-width: 210px;
  padding: 10px;
  background: #ff7143;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.btn-blue {
  background: #5454d4;
}

.down {
  height: 60px;
  width: 60px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  color: #19191b;
  font-size: 40px;
  cursor: pointer;
}

.section {
  padding: 50px 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.header {
  margin-top: 30px;
  overflow: hidden;
}

.header__block {
  float: left;
}

.header__logo {
  margin-right: 12vw;
  padding: 8px 0 7px;
}

.header__nav {
  padding-top: 14px;
}

.header__nav .menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__nav .menu .menu__item {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
}

.header__nav .menu .menu__item a {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #696871;
  text-decoration: none;
}

.header__nav .menu .menu__item:hover a,
.header__nav .menu .menu__item:active a {
  color: #19191b;
}

.header__nav .menu .menu__item:hover:before,
.header__nav .menu .menu__item:active:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #5454d4;
}

.header__nav .menu .menu__item:not(:last-child) {
  margin-right: 49px;
}

.header__button {
  float: right;
}

/* About */

.about {
  padding-top: 100px;
}

.about .container {
  overflow: hidden;
}

.about__text {
  float: left;
  width: 44%;
  padding-top: 90px;
}

.about__text h1 {
  margin: 0 0 30px;
}

.about__text p {
  margin: 0 0 50px;
}

.about__text--buttons .btn {
  float: left;
  margin-right: 40px;
}

.about__image {
  float: right;
  width: 50%;
}

/* Logos */

.logos__items {
  overflow: hidden;
}

.logos__items .item {
  float: left;
  margin-right: 7vw;
}

.logos__items .item:last-child {
  margin-right: 0;
}

/* Subscription */

.subscription {
  padding-top: 150px;
}

.subscription .container {
  overflow: hidden;
}

.subscription__image {
  float: left;
  width: 45%;
}

.subscription__text {
  float: right;
  width: 45%;
  padding-top: 120px;
}

.subscription__text p {
  margin-bottom: 30px;
}
